:root {
  --color-primary-light: #a5676e;
  --color-primary: #885157;
  --color-primary-dark: #683e43;
  --color-secondary-light: #354f5b;
  --color-secondary: #22333b;
  --color-secondary-dark: #0f171b;
  --color-tertiary-light: #ded9d2;
  --color-tertiary: #c9c0b4;
  --color-tertiary-dark: #b4a796;
  --color-white: #fff;
  --color-black: #000;
  --alpha-low: 0.2;
  --alpha-high: 0.8;
  --font-size-small: 1.2rem;
  --font-size-default: 1.6rem;
  --font-size-big: 2.4rem;
  --font-size-huge: 4rem;
  --shadow-style-light: 0 1.5rem 4rem rgba(0, 0, 0, var(--alpha-low));
  --transition-ease-in-out: all .25s ease-in-out;
  --rounded-corners-tight: 2px;
  --layer-base: 0;
  --layer-one: 100;
  --layer-two: 200;
  --layer-three: 300;
}

.fade-in-text-lines p {
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: .5s opacity linear, .75s transform ease-out;
  transition: .5s opacity linear, .75s transform ease-out;
}

p.fade-in-text-lines-visible {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.fade-in-element {
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: .5s opacity linear, .75s transform ease-out;
  transition: .5s opacity linear, .75s transform ease-out;
}

.fade-in-element-visible {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.blinking-cursor:after {
  content: "";
  position: absolute;
  top: 2px;
  right: -11px;
  display: inline-block;
  background-color: #606060;
  vertical-align: top;
  width: 10px;
  height: 22px;
  -webkit-animation: blink 1s step-end infinite;
          animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--color-white);
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
  -webkit-transition: var(--transition-ease-in-out);
  transition: var(--transition-ease-in-out);
}

a:hover {
  color: var(--color-primary);
}

li {
  list-style: none;
}

::-moz-selection {
  background-color: var(--color-tertiary);
  color: var(--color-white);
}

::selection {
  background-color: var(--color-tertiary);
  color: var(--color-white);
}

.link {
  position: relative;
  display: inline-block;
}

.link:before {
  content: "";
  background-color: var(--color-primary);
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
}

body {
  color: var(--color-black);
  font-size: var(--font-size-default);
  font-family: 'Montserrat', sans-serif;
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  line-height: 1.5;
}

.header-huge {
  font-size: var(--font-size-huge);
  line-height: 1.1;
}

.header-big {
  font-size: var(--font-size-big);
  line-height: 1.3;
}

.coding-font {
  font-family: 'Fira Code', monospace;
}

.hidden {
  visibility: hidden;
}

.spacer-line:after {
  content: "";
  background-color: var(--color-primary);
  width: 8rem;
  height: 3px;
  position: absolute;
  bottom: -1rem;
  left: 0;
}

.big-spacer {
  margin-bottom: 2rem;
}

.small-spacer {
  margin-bottom: 1rem;
}

.btn,
a.btn {
  padding: 1rem 2rem;
  color: var(--color-primary);
  border: 1px var(--color-primary) solid;
  border-radius: var(--rounded-corners-tight);
  -webkit-transition: var(--transition-ease-in-out);
  transition: var(--transition-ease-in-out);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn:hover,
a.btn:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  font-weight: 900;
}

.scroll-indicator {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  color: var(--color-primary);
  font-size: var(--font-size-small);
}

.scroll-indicator:before {
  content: "(arrowdown)";
}

.scroll-indicator:after {
  content: "(arrowdown)";
}

.terminal-box {
  background-color: black;
  color: white;
  padding: 4px;
}

.terminal-box__command {
  font-family: 'Fira Code', monospace;
  position: relative;
  display: inline-block;
}

.terminal-box__hostname {
  color: #26cc13;
}

.terminal-box__directory {
  color: cornflowerblue;
}

.terminal-box ul {
  margin: 0px 0px 0px 3rem;
  list-style: none;
}

.terminal-box ul li {
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  position: relative;
}

.terminal-box ul li:before {
  position: absolute;
  left: -15px;
  top: -4px;
  content: '';
  display: block;
  border-left: 1px solid #ddd;
  height: 2rem;
  border-bottom: 1px solid #ddd;
  width: 10px;
}

.terminal-box ul li:after {
  position: absolute;
  left: -15px;
  bottom: -7px;
  content: '';
  display: block;
  border-left: 1px solid #ddd;
  height: 100%;
}

.terminal-box ul li.terminal-box__tree-root {
  margin: 0px 0px 0px -20px;
}

.terminal-box ul li.terminal-box__tree-root:before {
  display: none;
}

.terminal-box ul li.terminal-box__tree-root:after {
  display: none;
}

.terminal-box ul li:last-child:after {
  display: none;
}

.terminal-box ::-moz-selection {
  background-color: #26cc13;
}

.terminal-box ::selection {
  background-color: #26cc13;
}

.header {
  position: fixed;
  width: 100vw;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: var(--layer-three);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100vw - 80px);
}

.navigation > * {
  margin: 0 .5rem;
}

.navigation__logo {
  font-size: 4rem;
  margin-right: auto;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation ul li {
  margin: 0 .5rem;
  padding-right: 2rem;
}

.content-wrapper {
  width: 80vw;
  margin: 0 auto;
}

.section {
  padding: 10vw 0;
}

.hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content {
  max-width: 100rem;
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.hero__content--left {
  width: 50%;
}

.hero__content--left h1 {
  position: relative;
}

.hero__content--left h1:before {
  content: "Hi, I'm";
  position: absolute;
  top: -50%;
  left: 0;
  font-size: var(--font-size-default);
}

.hero__content--right {
  width: 50%;
}

.hero__blurb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 40rem;
}

.hero__blurb .btn {
  text-align: center;
  width: 15rem;
}

.hero__blurb .btn:not(:last-of-type) {
  margin-right: 5%;
}

.hero__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--rounded-corners-tight);
}

.hero__image img {
  width: 1655px;
  height: 620px;
  margin-left: -675px;
  margin-top: -50px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transform: rotate(2.5deg);
          transform: rotate(2.5deg);
  image-rendering: -webkit-optimize-contrast;
}

.about {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: (20vh)[8];
      grid-template-rows: repeat(8, 20vh);
  gap: 2rem;
}

.about__title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  text-align: center;
}

.about__image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
}

.about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--rounded-corners-tight);
}

.about .fade-in-text-lines {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  z-index: var(--layer-one);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.about .fade-in-text-lines p {
  padding: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.about__blurb {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
}

.about__terminal {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 4;
  grid-row: 4 / 8;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.work {
  height: 150vh;
}

.contact {
  height: 100vh;
}
/*# sourceMappingURL=main.css.map */