:root {
  --base-primary-light: 232, 240, 255;
  --base-primary: 37, 37, 104;
  --base-primary-dark: 7, 16, 57;
  --base-secondary-light: 255, 92, 85;
  --base-secondary: 237, 34, 34;
  --base-tertiary-light: 0, 248, 255;
  --base-tertiary: 4, 211, 209;
  --base-yellow: 218, 207, 37;
  --base-black: 0, 0, 0;
  --base-white: 255, 255, 255;
  --color-primary-light: rgb(var(--base-primary-light));
  --color-primary: rgb(var(--base-primary));
  --color-primary-dark: rgb(var(--base-primary-dark));
  --color-secondary-light: rgb(var(--base-secondary-light));
  --color-secondary: rgb(var(--base-secondary));
  --color-tertiary-light: rgb(var(--base-tertiary-light));
  --color-tertiary: rgb(var(--base-tertiary));
  --color-yellow: rgb(var(--color-yellow));
  --color-black: rgb(var(--base-black));
  --color-white: rgb(var(--base-white));
  --alpha-low: 0.2;
  --alpha-medium: 0.5;
  --alpha-high: 0.7;
  --font-size-small: 1.2rem;
  --font-size-default: 1.6rem;
  --font-size-big: 2.4rem;
  --font-size-huge: 6rem;
  --font-content: 'Open Sans', sans-serif;
  --font-display: 'Poppins', sans-serif;
  --font-code: 'Fira Code', monospace;
  --layer-base: 0;
  --layer-one: 100;
  --layer-two: 200;
  --layer-three: 300;
  --shadow-style-light: 0 1.5rem 4rem rgba(var(--base-primary), var(--alpha-low));
  --transition-ease-in-out: all .25s ease-in-out;
  --rounded-corners-tight: 2px;
}

.fade-in-text-lines p {
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: .5s opacity linear, .75s transform ease-out;
  transition: .5s opacity linear, .75s transform ease-out;
}

p.fade-in-text-lines-visible {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.fade-in-element {
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: .5s opacity linear, .75s transform ease-out;
  transition: .5s opacity linear, .75s transform ease-out;
}

.fade-in-element-visible {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.blinking-cursor:after {
  content: "";
  position: absolute;
  top: .3rem;
  right: -.4em;
  display: inline-block;
  background-color: var(--color-white);
  vertical-align: top;
  width: clamp(1rem, 0.5em, 2rem);
  height: clamp(2.2rem, 1em, 4.6rem);
  -webkit-animation: blink 1s step-end infinite;
          animation: blink 1s step-end infinite;
}

.header-huge .blinking-cursor:after {
  top: 1.1rem;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--color-white);
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
  -webkit-transition: var(--transition-ease-in-out);
  transition: var(--transition-ease-in-out);
}

a:hover {
  color: var(--color-primary);
}

li {
  list-style: none;
}

::-moz-selection {
  background-color: var(--color-tertiary);
  color: var(--color-white);
}

::selection {
  background-color: var(--color-tertiary);
  color: var(--color-white);
}

.link {
  position: relative;
  display: inline-block;
}

.link::before {
  content: "";
  background-color: var(--color-primary);
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
}

body {
  color: var(--color-black);
  font-size: var(--font-size-default);
  font-family: var(--font-content);
  line-height: 1.75;
}

h1 {
  color: var(--color-primary-light);
  font-family: var(--font-code);
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  line-height: 1.5;
  font-family: var(--font-display);
}

.header-huge {
  font-size: var(--font-size-huge);
  line-height: 1.1;
  font-weight: 600;
}

.header-big {
  font-size: var(--font-size-big);
  line-height: 1.3;
}

.coding-font {
  font-family: var(--font-code);
}

.dramatic-effect {
  text-transform: uppercase;
}

.emphasis {
  font-weight: 600;
}

.hidden {
  visibility: hidden;
}

.spacer-line:after {
  content: "";
  background-color: var(--color-secondary);
  width: 12rem;
  height: 2px;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.big-spacer {
  margin-bottom: 4rem;
}

.small-spacer {
  margin-bottom: 1rem;
}

.btn,
a.btn {
  padding: 1rem 2rem;
  color: var(--color-secondary);
  border: 1px var(--color-secondary) solid;
  -webkit-transition: var(--transition-ease-in-out);
  transition: var(--transition-ease-in-out);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 600;
  text-transform: uppercase;
}

.btn:hover,
a.btn:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  font-weight: 600;
}

.btn__CTA,
a.btn__CTA {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.scroll-indicator {
  position: absolute;
  bottom: 10vh;
  width: 2rem;
  fill: var(--color-primary);
  -webkit-animation: bounce 2s ease-in-out infinite;
          animation: bounce 2s ease-in-out infinite;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.terminal-box {
  background-color: black;
  color: white;
  padding: 4px;
}

.terminal-box__command {
  font-family: var(--font-code);
  position: relative;
  display: inline-block;
}

.terminal-box__hostname {
  color: #26cc13;
}

.terminal-box__directory {
  color: cornflowerblue;
}

.terminal-box ul {
  margin: 0px 0px 0px 3rem;
  list-style: none;
}

.terminal-box ul li {
  font-family: var(--font-code);
  font-size: 16px;
  position: relative;
}

.terminal-box ul li:before {
  position: absolute;
  left: -15px;
  top: -4px;
  content: '';
  display: block;
  border-left: 1px solid #ddd;
  height: 2rem;
  border-bottom: 1px solid #ddd;
  width: 10px;
}

.terminal-box ul li:after {
  position: absolute;
  left: -15px;
  bottom: -7px;
  content: '';
  display: block;
  border-left: 1px solid #ddd;
  height: 100%;
}

.terminal-box ul li.terminal-box__tree-root {
  margin: 0px 0px 0px -20px;
}

.terminal-box ul li.terminal-box__tree-root:before {
  display: none;
}

.terminal-box ul li.terminal-box__tree-root:after {
  display: none;
}

.terminal-box ul li:last-child:after {
  display: none;
}

.terminal-box ::-moz-selection {
  background-color: #26cc13;
}

.terminal-box ::selection {
  background-color: #26cc13;
}

.header {
  position: fixed;
  width: 100vw;
  top: 0;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: var(--layer-three);
}

.navigation {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.navigation > * {
  margin: 0 .5rem;
}

.navigation__logo {
  width: 4rem;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.navigation ul li {
  margin: 0 .5rem;
  padding-right: 2rem;
}

.navigation .active-section {
  color: var(--color-secondary);
}

.section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: var(--layer-base);
}

.section__hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/hero.jpg);
  background-size: cover;
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
}

.section__hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--base-primary), var(--alpha-high));
}

.hero-content {
  height: 100vh;
  width: 80vw;
  z-index: var(--layer-one);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  color: var(--color-primary-light);
}

.hero-content__logo {
  width: 15rem;
}

.hero-content h1 {
  position: relative;
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.hero-content h1:before {
  content: "Hi there,";
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: -5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: var(--font-size-big);
}

.hero-content__blurb {
  width: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.hero-content__blurb .btn {
  text-align: center;
  width: 17rem;
}

.hero-content__blurb .btn:not(:last-of-type) {
  margin-right: 10%;
}

.page-wrapper > section:not(.section__hero) {
  display: none;
}

.about-content {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: (20vh)[8];
      grid-template-rows: repeat(8, 20vh);
  gap: 2rem;
}

.about-content__title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  text-align: center;
}

.about-content__image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
}

.about-content__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-content .fade-in-text-lines {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  z-index: var(--layer-one);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.about-content .fade-in-text-lines p {
  padding: 1rem;
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.2);
}

.about-content__blurb {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
}

.about-content__terminal {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 4;
  grid-row: 4 / 8;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.work-content {
  height: 150vh;
}

.contact-content {
  height: 100vh;
}
/*# sourceMappingURL=main.css.map */