:root {
  --base-primary: 18, 2, 49;
  --base-secondary: 4, 211, 209;
  --base-tertiary: 239, 167, 111;
  --base-purple-light: 196, 196, 229;
  --base-purple: 122, 122, 184;
  --base-blue: 37, 37, 104;
  --base-blue-light: 165, 212, 238;
  --base-blue-gray: 61, 74, 116;
  --base-black: 18, 19, 20;
  --base-white: 255, 255, 255;
  --base-gray: 166, 163, 165;
  --color-primary: rgb(var(--base-primary));
  --color-secondary: rgb(var(--base-secondary));
  --color-tertiary: rgb(var(--base-tertiary));
  --color-blue-gray: rgb(var(--base-blue-gray));
  --color-blue-light: rgb(var(--base-blue-light));
  --color-blue: rgb(var(--base-blue));
  --color-purple-light: rgb(var(--base-purple-light));
  --color-purple: rgb(var(--base-purple));
  --color-black: rgb(var(--base-black));
  --color-white: rgb(var(--base-white));
  --color-gray: rgb(var(--base-gray));
  --main-gradient: linear-gradient(to right, #4D4BE9, #13E8BE);
  --btn-gradient--1: linear-gradient(to right, #120231 0%, #4D4BE9 50%, #13E8BE 100% );
  --btn-gradient--2: linear-gradient(to right, #ffffff00 0%, #ffffff00 50%, #120231 50%, #4D4BE9 100%);
  --alpha-low: 0.2;
  --alpha-medium: 0.5;
  --alpha-high: 0.85;
  --font-size-small: 1.4rem;
  --font-size-default: 1.7rem;
  --font-size-big: 2rem;
  --font-size-huge: 4rem;
  --font-size-gargantuan: 6rem;
  --font-content: 'Open Sans', sans-serif;
  --font-display: 'Poppins', sans-serif;
  --font-code: 'Fira Code', monospace;
  --layer-negative: -1;
  --layer-base: 0;
  --layer-one: 100;
  --layer-two: 200;
  --layer-three: 300;
  --layer-four: 400;
  --content-box-padding: 2rem 5rem;
  --content-box-padding-big: 8rem 10rem;
  --gap-micro: 1rem;
  --gap-small: 2rem;
  --gap-big: 4rem;
  --gap-huge: 8rem;
  --gap-gigantic: 12rem;
  --content-width: 1200px;
  --section-top-bottom-margins: 15vh 0;
  --header-height: 10rem;
  --shadow-style-light: 0 1.5rem 4rem rgba(var(--base-primary), var(--alpha-low));
  --shadow-style-strong: 0 .5rem 1rem rgba(var(--base-black), var(--alpha-medium));
  --transition-ease-in-out: all .25s ease-in-out;
  --rounded-corners-tight: 2px;
  --rounded-corners-big: 10px;
  --rounded-corners-huge: 20px;
}

@media screen and (max-width: 1440px) {
  :root {
    --content-width: 900px;
    --section-top-bottom-margins: 10vh 0;
  }
}

@media screen and (max-width: 963px) {
  :root {
    --header-height: 8rem;
    --content-width: 90vw;
    --section-top-bottom-margins: 5vh 0;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --content-width: 90vw;
  }
}

.rotating-text-lines:hover p {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.rotating-text-lines p {
  line-height: 2.8rem;
  -webkit-transition: .5s opacity linear, .75s transform ease-out;
  transition: .5s opacity linear, .75s transform ease-out;
  -webkit-animation: rotating-text-lines 9s infinite;
          animation: rotating-text-lines 9s infinite;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.rotating-text-lines p:nth-of-type(2) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.rotating-text-lines p:nth-of-type(3) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.fade-in-element {
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: .5s opacity linear, .75s transform ease-out;
  transition: .5s opacity linear, .75s transform ease-out;
}

.fade-in-element-visible {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.fade-out-element-invisible {
  display: none;
}

@-webkit-keyframes fade-up-and-out {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
}

@keyframes fade-up-and-out {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
}

.blinking-linux-cursor {
  position: relative;
}

.blinking-linux-cursor:after {
  content: "";
  position: absolute;
  top: .1em;
  right: -.7em;
  display: inline-block;
  background-color: var(--color-secondary);
  vertical-align: top;
  width: clamp(0.5rem, 0.5em, 2rem);
  height: clamp(2.2rem, 1em, 4.6rem);
  -webkit-animation: blink 1s step-end infinite;
          animation: blink 1s step-end infinite;
}

.blinking-windows-cursor:after {
  content: "";
  position: absolute;
  bottom: .3rem;
  right: -.7em;
  display: inline-block;
  background-color: var(--color-secondary);
  vertical-align: top;
  width: .6em;
  height: .1em;
  -webkit-animation: blink 1s step-end infinite;
          animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@-webkit-keyframes rotating-text-lines {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  4% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  36% {
    opacity: 0;
  }
  40% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@keyframes rotating-text-lines {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  4% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  36% {
    opacity: 0;
  }
  40% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background-color: var(--color-primary);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 50px;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  -webkit-transition: var(--transition-ease-in-out);
  transition: var(--transition-ease-in-out);
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

::-moz-selection {
  background-color: var(--color-tertiary);
  color: rgba(var(--base-black), 1);
}

::selection {
  background-color: var(--color-tertiary);
  color: rgba(var(--base-black), 1);
}

.link {
  position: relative;
  display: inline-block;
}

.link::before {
  content: "";
  background-color: var(--color-primary);
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
}

.link-line {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 1.7;
  color: var(--color-purple);
}

.link-line::before, .link-line::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0.3rem;
  display: block;
  width: 100%;
  height: 1px;
  background: currentcolor;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.link-line::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.link-line::after {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.link-line:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.link-line:hover::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  color: var(--color-black);
  font-size: var(--font-size-default);
  font-family: var(--font-content);
  line-height: 1.5;
  color: var(--color-purple);
}

p, li {
  font-weight: 600;
  line-height: 1.7;
}

h1 {
  font-family: var(--font-display);
  line-height: 1.1;
}

h2 {
  font-family: var(--font-code);
  line-height: 1.3;
}

h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  line-height: 1.5;
  font-family: var(--font-display);
  font-weight: 600;
  font-size: var(--font-size-big);
}

.header-huge {
  font-size: var(--font-size-gargantuan);
  line-height: 1.1;
  font-weight: 600;
}

.header-big {
  font-size: var(--font-size-huge);
  line-height: 1.3;
}

.coding-font {
  font-family: var(--font-code);
}

em, .emphasis {
  font-style: unset;
  font-weight: 600;
  color: var(--color-purple-light);
}

.hidden {
  visibility: hidden;
}

.transparent {
  opacity: 0;
}

.spacer-line {
  position: relative;
}

.spacer-line::after {
  content: "";
  background-image: var(--main-gradient);
  width: 12rem;
  height: 2px;
  position: absolute;
  bottom: calc(0px - var(--gap-small));
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.line-right {
  position: relative;
}

.line-right::after {
  content: "";
  background-color: var(--color-secondary);
  width: 7.5rem;
  height: 2px;
  position: absolute;
  bottom: 50%;
  right: -8rem;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.big-spacer {
  margin-bottom: var(--gap-big);
}

@media only screen and (max-width: 963px) {
  .big-spacer {
    margin-bottom: var(--gap-small);
  }
}

.small-spacer {
  margin-bottom: 2rem;
}

.padding-bottom-large {
  padding-bottom: var(--gap-big);
}

.padding-bottom-small {
  padding-bottom: 2rem;
}

.scroll-box {
  direction: rtl;
  overflow-y: scroll;
  padding-left: var(--gap-big);
}

.scroll-box p {
  direction: ltr;
}

.btn,
a.btn {
  color: var(--color-secondary);
  -webkit-transition: .25s background-position linear;
  transition: .25s background-position linear;
  width: 20rem;
  height: 6rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 600;
  font-size: var(--font-size-default);
  font-family: var(--font-content);
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media only screen and (max-width: 963px) {
  .btn,
  a.btn {
    width: 15rem;
    height: 4rem;
    font-size: var(--font-size-small);
  }
}

@media only screen and (max-width: 600px) {
  .btn,
  a.btn {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
  }
}

.btn__icon,
a.btn__icon {
  width: 1.5em;
  margin-right: 1em;
}

.btn__gradient-background,
a.btn__gradient-background {
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: var(--main-gradient);
  background: var(--btn-gradient--1);
  background-position: right;
  background-size: 200%;
  color: var(--color-white);
}

.btn__gradient-background:hover,
a.btn__gradient-background:hover {
  background-position: left;
}

.btn__transparent-background,
a.btn__transparent-background {
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: var(--main-gradient);
  background: var(--btn-gradient--2);
  background-position: left;
  background-size: 200%;
  color: var(--color-white);
}

.btn__transparent-background:hover,
a.btn__transparent-background:hover {
  background-position: right;
}

.scroll-indicator {
  position: relative;
  z-index: var(--layer-three);
  width: 3.5rem;
  margin-top: auto;
  margin-bottom: var(--gap-small);
  fill: var(--color-primary);
  -webkit-animation: bounce 2s ease-in-out infinite;
          animation: bounce 2s ease-in-out infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.terminal-box {
  color: var(--color-purple);
  padding: 4px;
  line-height: 2.8rem;
}

.terminal-box__command {
  font-family: var(--font-code);
  position: relative;
  display: inline-block;
}

@media screen and (max-width: 963px) {
  .terminal-box__command {
    overflow-wrap: anywhere;
  }
}

.terminal-box__main-item {
  color: var(--color-white);
}

.terminal-box ul {
  margin: 0px 0px 0px 3rem;
  list-style: none;
}

.terminal-box ul li {
  font-family: var(--font-code);
  font-size: 16px;
  position: relative;
}

.terminal-box ul li:before {
  position: absolute;
  left: -15px;
  top: -4px;
  content: '';
  display: block;
  border-left: 1px solid var(--color-secondary);
  height: 2rem;
  border-bottom: 1px solid var(--color-secondary);
  width: 10px;
}

.terminal-box ul li:after {
  position: absolute;
  left: -15px;
  bottom: -7px;
  content: '';
  display: block;
  border-left: 1px solid var(--color-secondary);
  height: 100%;
}

.terminal-box ul li.terminal-box__tree-root {
  margin: 0px 0px 0px -20px;
}

.terminal-box ul li.terminal-box__tree-root:before {
  display: none;
}

.terminal-box ul li.terminal-box__tree-root:after {
  display: none;
}

.terminal-box ul li:last-child:after {
  display: none;
}

.contact-form {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin-bottom: var(--gap-huge);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--gap-small);
  position: relative;
}

.contact-form ::-moz-selection {
  background-color: rgba(var(--base-black), 0.25);
  color: rgba(var(--base-white), 1);
}

.contact-form ::selection {
  background-color: rgba(var(--base-black), 0.25);
  color: rgba(var(--base-white), 1);
}

.contact-form .input-group {
  position: relative;
}

.contact-form .input-group:focus-within .input-group__input-label {
  -webkit-transform: scale(0.8) translate(-0.7rem, -3.5rem);
          transform: scale(0.8) translate(-0.7rem, -3.5rem);
}

.contact-form .input-group__input-field:not(:placeholder-shown) + .input-group__input-label {
  -webkit-transform: scale(0.8) translate(-0.7rem, -3.5rem);
          transform: scale(0.8) translate(-0.7rem, -3.5rem);
}

.contact-form .input-group__input-label {
  position: absolute;
  top: .5rem;
  left: 1rem;
  z-index: var(--layer-negative);
  pointer-events: none;
  -webkit-transition: var(--transition-ease-in-out);
  transition: var(--transition-ease-in-out);
}

.contact-form .input-group__input-field {
  width: 100%;
  color: var(--color-purple-light);
  font-size: var(--font-size-default);
  font-family: var(--font-content);
  background-color: unset;
  border: unset;
  border-bottom: 1px var(--color-white) solid;
  line-height: 2;
  padding: .5rem 1rem;
}

.contact-form .input-group__input-field:focus {
  outline: unset;
  background-color: var(--color-blue);
}

.contact-form .input-group__input-field:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px var(--color-primary) inset;
  -webkit-text-fill-color: var(--color-purple-light);
  -webkit-transition: background-color 600000s 0s, color 600000s 0s;
  transition: background-color 600000s 0s, color 600000s 0s;
}

.contact-form .input-group__input-field:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px var(--color-blue) inset;
  -webkit-text-fill-color: var(--color-purple-light);
}

.contact-form .input-group--full-width {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.contact-form .input-group--half-width {
  -webkit-box-flex: 1;
      -ms-flex: 1 calc(50% - var(--gap-small));
          flex: 1 calc(50% - var(--gap-small));
}

.contact-form #contact-form-subject::-webkit-calendar-picker-indicator {
  color: transparent;
  background: url(../images/down.svg) no-repeat;
  opacity: 1;
  background-position: center;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.contact-form #contact-form-subject:focus::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.contact-form #contact-form-message {
  height: 20rem;
  resize: none;
}

.contact-form #contact-form-message::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
}

.contact-form #contact-form-message::-webkit-scrollbar {
  width: 2px;
}

.contact-form #contact-form-message::-webkit-scrollbar-track {
  background-color: var(--color-blue);
  border-radius: 50px;
}

.required {
  position: relative;
}

.required::after {
  content: " *";
  color: red;
  position: absolute;
  top: 0;
  left: 0;
}

.success-message {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--layer-three);
  color: var(--color-secondary);
  font-family: var(--font-display);
  background-color: var(--color-primary);
  font-size: var(--font-size-huge);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: visible;
  -webkit-transition: var(--transition-ease-in-out);
  transition: var(--transition-ease-in-out);
  pointer-events: none;
}

.success-message p:last-of-type {
  font-size: var(--font-size-default);
}

.side-elements {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: var(--layer-three);
  --mouse-x: 0px;
  --mouse-y: 0px;
}

@media only screen and (max-width: 963px) {
  .side-elements {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: var(--gap-micro);
    gap: var(--gap-micro);
  }
}

.side-elements > * {
  position: absolute;
  bottom: 15vh;
  pointer-events: all;
  font-size: var(--font-size-small);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media only screen and (max-width: 963px) {
  .side-elements > * {
    position: relative;
    -webkit-transform: none !important;
            transform: none !important;
    left: unset !important;
    bottom: unset !important;
    width: unset;
    -webkit-user-select: all;
       -moz-user-select: all;
        -ms-user-select: all;
            user-select: all;
  }
}

.side-elements > *::after {
  content: "";
  background-color: var(--color-secondary);
  width: 2px;
  height: 20vh;
  position: absolute;
}

@media only screen and (max-width: 963px) {
  .side-elements > *::after {
    content: none;
  }
}

.side-elements__email {
  left: var(--gap-big);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  cursor: pointer;
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
}

.side-elements__email:active {
  -webkit-transform: rotate(-90deg) translateX(-2px);
          transform: rotate(-90deg) translateX(-2px);
  opacity: .5;
}

.side-elements__email::after {
  top: 50%;
  left: -20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.side-elements .side-elements__email-text {
  color: var(--color-secondary);
}

.side-elements__email-clickable-area {
  width: 125%;
  height: 250%;
  position: absolute;
  top: -50%;
  left: -12.5%;
}

@media only screen and (max-width: 963px) {
  .side-elements__email-clickable-area {
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
  }
}

.side-elements__social-links {
  right: var(--gap-big);
}

@media only screen and (max-width: 963px) {
  .side-elements__social-links {
    right: unset;
  }
}

.side-elements__social-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: var(--gap-micro);
}

@media only screen and (max-width: 963px) {
  .side-elements__social-links ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
}

.side-elements__social-links ul li a {
  display: block;
  width: 20px;
}

.side-elements__social-links::after {
  left: 50%;
  top: calc(100% + 10px);
}

.email-tooltip::before, .email-tooltip--copied::before {
  content: " ";
  background-image: url(../images/copy.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  position: absolute;
  left: var(--mouse-x);
  top: var(--mouse-y);
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  background-color: var(--color-primary);
  z-index: var(--layer-two);
}

@media only screen and (max-width: 963px) {
  .email-tooltip::before, .email-tooltip--copied::before {
    content: none;
  }
}

.email-tooltip::after {
  content: "";
  position: absolute;
  left: calc(var(--mouse-x) - 5px);
  top: calc(var(--mouse-y) + 22px);
  border-left: 1px solid var(--color-secondary);
  border-bottom: 1px solid var(--color-secondary);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 10px;
  height: 10px;
  z-index: var(--layer-three);
  background-color: var(--color-primary);
}

.email-tooltip--copied::before {
  background-image: url(../images/checkmark.svg);
  -webkit-animation: fade-up-and-out .5s ease-in forwards;
          animation: fade-up-and-out .5s ease-in forwards;
}

.header {
  position: fixed;
  width: 100vw;
  top: 0;
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: var(--layer-three);
  -webkit-transition: .25s all linear;
  transition: .25s all linear;
}

.header--downpage {
  background-color: var(--color-primary);
  -webkit-box-shadow: var(--shadow-style-strong);
          box-shadow: var(--shadow-style-strong);
}

.navigation {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  color: var(--color-tertiary);
}

@media only screen and (max-width: 963px) {
  .navigation {
    display: none;
  }
}

.navigation > * {
  margin: 0 .5rem;
}

.navigation__logo {
  -webkit-transform: translateX(20vw);
          transform: translateX(20vw);
  opacity: 0;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__logo img {
  width: 4rem;
}

.navigation__logo p {
  display: inline-block;
  color: var(--color-white);
  margin-left: 1rem;
  position: relative;
  white-space: nowrap;
}

.navigation__logo p span {
  color: var(--color-secondary);
}

.navigation__logo p::after {
  content: "";
  background-color: var(--color-secondary);
  height: .1em;
  width: .6em;
  position: absolute;
  right: -.7em;
  bottom: .1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navigation__logo--visible {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.navigation ul li {
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navigation ul li a {
  display: inline-block;
  color: var(--color-secondary);
  font-size: var(--font-size-default);
  text-transform: uppercase;
}

.navigation ul li a:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  opacity: .9;
}

.navigation ul li a:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.navigation ul li:not(:last-of-type) {
  margin-right: 3vw;
}

.navigation .active-section {
  position: relative;
  color: var(--color-tertiary);
}

.navigation-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  pointer-events: all;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.navigation-mobile__logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(20vw);
          transform: translateX(20vw);
  opacity: 0;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

.navigation-mobile__logo img {
  width: 4rem;
}

.navigation-mobile__logo p {
  margin-left: 1rem;
  display: inline-block;
  color: var(--color-white);
  position: relative;
}

.navigation-mobile__logo p span {
  color: var(--color-secondary);
}

.navigation-mobile__logo p::after {
  content: "";
  background-color: var(--color-secondary);
  height: .1em;
  width: .6em;
  position: absolute;
  right: -.7em;
  bottom: .1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navigation-mobile__logo--visible {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.navigation-mobile__button {
  width: 4rem;
  height: 3rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color-secondary)), to(var(--color-secondary))) no-repeat;
  background: linear-gradient(var(--color-secondary), var(--color-secondary)) no-repeat;
  background-size: 100% 3px;
  background-position: center center;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  z-index: var(--layer-four);
}

.navigation-mobile__button::before, .navigation-mobile__button::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--color-secondary);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.navigation-mobile__button::before {
  top: 0;
}

.navigation-mobile__button::after {
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.navigation-mobile__button--open {
  top: 1.1rem;
  right: 1.1rem;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: calc(4rem * 1.35);
  height: calc(4rem * 1.35);
}

.navigation-mobile__button--open::before, .navigation-mobile__button--open::after {
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(0);
          transform: translateX(-50%) translateY(-50%) rotate(0);
}

.navigation-mobile__button--open::after {
  bottom: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
          transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.navigation-mobile ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle, rgba(var(--base-primary), 0.99) 0%, rgba(var(--base-primary), 0.95) 20%, rgba(var(--base-primary), var(--alpha-high)) 100%);
  z-index: var(--layer-three);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.navigation-mobile ul li {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: var(--gap-big);
}

.navigation-mobile ul li a {
  display: inline-block;
  color: var(--color-secondary);
  font-size: var(--font-size-big);
  text-transform: uppercase;
}

.navigation-mobile--closed {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

@media only screen and (min-width: 963px) {
  .navigation-mobile {
    display: none;
  }
}

.footer {
  background-color: var(--color-black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: var(--layer-three);
}

.footer > p {
  color: var(--color-gray);
  font-size: var(--font-size-small);
  width: var(--content-width);
  padding: var(--gap-small) var(--gap-big);
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .footer > p {
    color: var(--color-secondary);
    text-align: center;
    padding: 0 var(--gap-small);
    -webkit-transform: translateY(calc(0px - var(--gap-micro)));
            transform: translateY(calc(0px - var(--gap-micro)));
  }
}

.section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: var(--layer-base);
  overflow: hidden;
  position: relative;
}

.section__hero {
  height: 100vh;
}

.section__hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/hero.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.section__hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(var(--base-primary), var(--alpha-high))), color-stop(70%, rgba(var(--base-primary), var(--alpha-high))), to(rgba(var(--base-primary), 1)));
  background: linear-gradient(180deg, rgba(var(--base-primary), var(--alpha-high)) 0%, rgba(var(--base-primary), var(--alpha-high)) 70%, rgba(var(--base-primary), 1) 100%);
}

.section__about {
  background-color: var(--color-primary);
}

.section__work {
  background-color: var(--color-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__contact {
  background-color: var(--color-primary);
}

.hero-content {
  height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);
  width: var(--content-width);
  z-index: var(--layer-one);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--gap-small);
}

@media only screen and (max-width: 600px) {
  .hero-content {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

.hero-content__logo {
  width: 15rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: auto;
}

@media only screen and (max-width: 963px) {
  .hero-content__logo {
    margin-top: 10vh;
    width: clamp(10rem, 17vh, 12rem);
  }
}

.hero-content h1 {
  position: relative;
  margin-top: var(--gap-huge);
  margin-bottom: 2rem;
  color: var(--color-white);
  white-space: nowrap;
}

@media only screen and (max-width: 963px) {
  .hero-content h1 {
    font-size: var(--font-size-huge);
    margin-top: var(--gap-big);
  }
}

@media only screen and (max-width: 600px) {
  .hero-content h1 {
    margin-top: var(--gap-big);
    margin-bottom: 0;
  }
}

.hero-content h1 .blinking-windows-cursor {
  color: var(--color-secondary);
  font-family: var(--font-code);
  font-weight: 300;
}

.hero-content h1:before {
  content: "Hello, I'm";
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: calc(0px - 1rem - var(--gap-big));
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: var(--font-size-big);
  font-family: var(--font-code);
}

@media only screen and (max-width: 963px) {
  .hero-content h1:before {
    font-size: var(--font-size-default);
    top: calc(0px - 1.3rem - var(--gap-small));
  }
}

.hero-content__blurb {
  width: 80rem;
  max-width: 85vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .hero-content__blurb {
    max-width: 90vw;
  }
}

.hero-content__blurb p {
  font-size: var(--font-size-big);
  font-family: var(--font-code);
  line-height: 2;
}

@media only screen and (max-width: 963px) {
  .hero-content__blurb p {
    font-size: var(--font-size-default);
    line-height: 1.6;
  }
}

.hero-content__blurb .btn {
  text-align: center;
  margin-top: var(--gap-big);
}

@media screen and (max-width: 1440px) {
  .hero-content__blurb .btn {
    margin-top: var(--gap-small);
  }
}

.hero-content__blurb .btn:not(:last-of-type) {
  margin-right: 10%;
}

@media only screen and (max-width: 600px) {
  .hero-content__blurb .btn:not(:last-of-type) {
    margin-right: unset;
  }
}

.hero-content a.scroll-indicator {
  padding-bottom: 1rem;
}

.about-content {
  width: var(--content-width);
  margin: var(--section-top-bottom-margins);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc((100% - var(--gap-huge) * 2) / 3))[3];
      grid-template-columns: repeat(3, calc((100% - var(--gap-huge) * 2) / 3));
  -ms-grid-rows: auto (1fr)[3];
      grid-template-rows: auto repeat(3, 1fr);
  gap: var(--gap-huge);
  row-gap: var(--gap-big);
}

@media screen and (max-width: 1440px) {
  .about-content {
    -ms-grid-columns: (calc((100% - var(--gap-huge)) / 2))[2];
        grid-template-columns: repeat(2, calc((100% - var(--gap-huge)) / 2));
    -ms-grid-rows: (auto)[5];
        grid-template-rows: repeat(5, auto);
    row-gap: var(--gap-huge);
    max-width: 80vw;
  }
}

@media screen and (max-width: 963px) {
  .about-content {
    -ms-grid-columns: (calc((100% - var(--gap-small)) / 2))[2];
        grid-template-columns: repeat(2, calc((100% - var(--gap-small)) / 2));
    gap: var(--gap-small);
    row-gap: var(--gap-big);
    max-width: 85vw;
  }
}

@media screen and (max-width: 600px) {
  .about-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.about-content__title {
  color: var(--color-white);
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  -ms-grid-column-align: center;
      justify-self: center;
}

.about-content__blurb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: var(--gap-small);
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}

.about-content__blurb h3 {
  color: var(--color-white);
  position: relative;
  margin-left: 7.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600;
}

.about-content__blurb h3::before {
  position: absolute;
  width: 5.5rem;
  top: -1.5rem;
  left: -7.5rem;
}

@media screen and (max-width: 600px) {
  .about-content__blurb h3::before {
    width: 4rem;
    top: -.4em;
    left: -7rem;
  }
}

.about-content__blurb p {
  color: var(--color-purple);
}

.about-content__blurb--1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.about-content__blurb--1 h3::before {
  content: url(../images/whyme.svg);
}

.about-content__blurb--2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

@media only screen and (max-width: 1440px) {
  .about-content__blurb--2 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

@media only screen and (max-width: 963px) {
  .about-content__blurb--2 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

@media screen and (max-width: 600px) {
  .about-content__blurb--2 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.about-content__blurb--2 h3::before {
  content: url(../images/careerpath.svg);
}

.about-content__blurb--3 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

@media only screen and (max-width: 1440px) {
  .about-content__blurb--3 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

@media only screen and (max-width: 963px) {
  .about-content__blurb--3 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

@media screen and (max-width: 600px) {
  .about-content__blurb--3 {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.about-content__blurb--3 h3::before {
  content: url(../images/currently.svg);
}

.about-content__terminal {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media only screen and (max-width: 1440px) {
  .about-content__terminal {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

@media only screen and (max-width: 963px) {
  .about-content__terminal {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / 5;
  }
}

@media screen and (max-width: 600px) {
  .about-content__terminal {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}

.about-content__terminal h3 {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-white);
  margin-left: 7.5rem;
  letter-spacing: 4px;
  font-weight: 600;
}

.about-content__terminal h3::before {
  content: url(../images/skills.svg);
  width: 5rem;
  position: absolute;
  top: -1.5rem;
  left: -7.5rem;
  width: 5rem;
  top: -1.5rem;
  left: -7rem;
}

@media screen and (max-width: 600px) {
  .about-content__terminal h3::before {
    width: 4rem;
    top: -.4em;
    left: -7rem;
  }
}

.about-content__image-quote-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  position: relative;
  width: 346px;
  height: 817px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (max-width: 1440px) {
  .about-content__image-quote-container {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

@media only screen and (max-width: 963px) {
  .about-content__image-quote-container {
    width: 275px;
    height: 652px;
  }
}

@media screen and (max-width: 600px) {
  .about-content__image-quote-container {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.about-content__image-quote-image {
  margin-top: 48px;
  width: 110%;
  height: 397px;
  background-image: url(../images/andrew_pier.jpg);
  background-size: cover;
  background-position: center -10px;
  background-repeat: no-repeat;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), 0% 100%);
}

@media screen and (max-width: 963px) {
  .about-content__image-quote-image {
    margin-top: 39px;
    height: 315px;
  }
}

.about-content__image-quote-image::after {
  content: "";
  background: var(--main-gradient);
  opacity: .3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.about-content__image-quote-text {
  width: 110%;
  height: 333px;
  padding-right: 10%;
  position: relative;
  background-color: var(--color-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-clip-path: polygon(0 10px, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 10px, 100% 0, 100% 100%, 0% 100%);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

@media screen and (max-width: 963px) {
  .about-content__image-quote-text {
    height: 266px;
  }
}

.about-content__image-quote-text p {
  padding: 2rem;
  width: 80%;
  color: var(--color-tertiary);
  font-size: var(--font-size-big);
  line-height: 1.8;
  text-align: center;
  position: absolute;
}

@media screen and (max-width: 963px) {
  .about-content__image-quote-text p {
    padding: 1rem;
  }
}

.about-content__image-quote-text p .link-line {
  color: var(--color-tertiary);
}

.about-content__image-quote-frame {
  background-image: url(../images/frame.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--layer-three);
  pointer-events: none;
}

.work-content {
  width: var(--content-width);
  margin: var(--section-top-bottom-margins);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--gap-huge);
}

@media screen and (max-width: 1440px) {
  .work-content {
    max-width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .work-content {
    max-width: 45rem;
  }
}

.work-content__title {
  color: var(--color-white);
}

.work-content__project-type {
  color: var(--color-tertiary);
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
}

.work-content__project-title {
  color: var(--color-white);
  font-size: var(--font-size-huge);
  line-height: 1.2;
}

.work-content__project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-content__project-model img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.work-content__project-techstack {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: var(--gap-big);
  color: var(--color-blue-light);
  font-family: var(--font-code);
  font-size: var(--font-size-small);
}

.work-content__project-description {
  height: 20rem;
}

.work-content__project-description::-webkit-scrollbar-thumb {
  background-color: var(--color-tertiary);
}

.work-content__project-description::-webkit-scrollbar {
  width: 2px;
}

.work-content__project-description::-webkit-scrollbar-track {
  background-color: var(--color-white);
  border-radius: 50px;
}

.work-content__project-card {
  display: -ms-grid;
  display: grid;
  gap: var(--gap-small);
  margin-bottom: var(--gap-huge);
}

.work-content__project-card--1 {
  -ms-grid-columns: 33% auto;
      grid-template-columns: 33% auto;
  -ms-grid-rows: 3rem (max-content)[3];
      grid-template-rows: 3rem repeat(3, -webkit-max-content);
      grid-template-rows: 3rem repeat(3, max-content);
}

.work-content__project-card--1 .work-content__project-type {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.work-content__project-card--1 .work-content__project-title {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.work-content__project-card--1 .work-content__project-links {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-content__project-card--1 .work-content__project-links a:last-of-type {
  margin-top: var(--gap-big);
}

.work-content__project-card--1 .work-content__project-model {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.work-content__project-card--1 .work-content__project-techstack {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.work-content__project-card--1 .work-content__project-description {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.work-content__project-card--2 {
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 3rem 6rem 8rem 20rem 10rem;
      grid-template-rows: 3rem 6rem 8rem 20rem 10rem;
}

.work-content__project-card--2 .work-content__project-type {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.work-content__project-card--2 .work-content__project-title {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.work-content__project-card--2 .work-content__project-links {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  padding-left: var(--gap-big);
}

.work-content__project-card--2 .work-content__project-links a:last-of-type {
  margin-left: var(--gap-big);
}

.work-content__project-card--2 .work-content__project-model {
  grid-row: 1 / -1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.work-content__project-card--2 .work-content__project-techstack {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.work-content__project-card--2 .work-content__project-description {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.work-content__project-card--3 {
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 3rem 6rem 8rem 20rem 10rem;
      grid-template-rows: 3rem 6rem 8rem 20rem 10rem;
}

.work-content__project-card--3 .work-content__project-type {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.work-content__project-card--3 .work-content__project-title {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.work-content__project-card--3 .work-content__project-links {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding-left: var(--gap-big);
}

.work-content__project-card--3 .work-content__project-links a:last-of-type {
  margin-left: var(--gap-big);
}

.work-content__project-card--3 .work-content__project-model {
  grid-row: 1 / -1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.work-content__project-card--3 .work-content__project-techstack {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.work-content__project-card--3 .work-content__project-description {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.work-content__other-products {
  display: none;
}

.work-content__past-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-content__past-clients h3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.work-content__testimonial {
  margin: var(--gap-huge);
  padding: var(--gap-small);
  position: relative;
  background-color: var(--color-blue);
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-content__testimonial::before {
  content: url(../images/quote-start.svg);
  position: absolute;
  top: -22px;
  left: -2px;
  width: 6rem;
}

.work-content__testimonial-left, .work-content__testimonial-right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--font-size-small);
}

.work-content__testimonial-left {
  color: var(--color-white);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

.work-content__testimonial-left p:first-of-type {
  font-size: var(--font-size-default);
}

.work-content__testimonial-right {
  color: var(--color-blue-light);
  font-family: var(--font-code);
}

.work-content__testimonial-quote {
  text-transform: uppercase;
  line-height: 1.3;
}

.work-content__testimonial-brief {
  height: 10rem;
  padding: 0 2rem;
  padding-left: var(--gap-big);
}

.work-content__testimonial-brief::-webkit-scrollbar-thumb {
  background-color: var(--color-tertiary);
}

.work-content__testimonial-brief::-webkit-scrollbar {
  width: 2px;
}

.work-content__testimonial-brief::-webkit-scrollbar-track {
  background-color: var(--color-white);
  border-radius: 50px;
}

.work-content__cycle-testimonials {
  width: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work-content__cycle-testimonials img {
  width: 4rem;
}

.contact-content {
  width: var(--content-width);
  margin-top: var(--section-top-bottom-margins);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% calc(67% - var(--gap-huge));
      grid-template-columns: 33% calc(67% - var(--gap-huge));
  gap: var(--gap-huge);
  position: relative;
}

@media screen and (max-width: 1440px) {
  .contact-content {
    max-width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .contact-content {
    max-width: 45rem;
  }
}

.contact-content__title {
  color: var(--color-white);
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  text-align: center;
}

.contact-content__contact-left {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.contact-content__contact-type {
  color: var(--color-white);
  font-size: var(--font-size-huge);
  text-align: right;
  line-height: 1.2;
}

.contact-content__andrew-message {
  width: 66%;
  margin-left: auto;
  margin-top: var(--gap-small);
  text-align: right;
  font-size: var(--font-size-small);
  color: var(--color-blue-light);
}

.contact-content::after {
  content: "";
  background: url(../images/andrew_beach.png) no-repeat;
  background-position: bottom left;
  background-size: 375px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--layer-negative);
}
/*# sourceMappingURL=main.css.map */