:root {
	// COLORS
	--base-primary-light: 38, 65, 145;
	--base-primary: 37, 37, 104;
	--base-primary-dark: 7, 16, 57;
	--base-secondary-light: 255, 92, 85;
	--base-secondary: 237, 34, 34;
	--base-secondary-dark: 180, 15, 15;
	--base-tertiary-light: 0, 248, 255;
	--base-tertiary: 4, 211, 209;

	--base-purple-light: 163, 163, 201;
	--base-purple: 122, 122, 184;
	--base-yellow: 218, 207, 37;
	--base-black: 0, 0, 0;
	--base-white: 232, 240, 255;

	--color-primary-light: rgb(var(--base-primary-light));
	--color-primary: rgb(var(--base-primary));
	--color-primary-dark: rgb(var(--base-primary-dark));
	--color-secondary-light: rgb(var(--base-secondary-light));
	--color-secondary: rgb(var(--base-secondary));
	--color-secondary-dark: rgb(var(--base-secondary-dark));
	--color-tertiary-light: rgb(var(--base-tertiary-light));
	--color-tertiary: rgb(var(--base-tertiary));

	--color-purple-light: rgb(var(--base-purple-light));
	--color-purple: rgb(var(--base-purple));
	--color-yellow: rgb(var(--base-yellow));
	--color-black: rgb(var(--base-black));
	--color-white: rgb(var(--base-white));

	// OPACITY
	--alpha-low: 0.2;
	--alpha-medium: 0.5;
	--alpha-high: 0.7;

	// FONT
	--font-size-small: 1.2rem;
	--font-size-default: 1.6rem;
	--font-size-big: 2.4rem;
	--font-size-huge: 4rem;
	--font-size-gargantuan: 6rem;

	--font-content: 'Open Sans', sans-serif;
	--font-display: 'Poppins', sans-serif;
	--font-code: 'Fira Code', monospace;;
	
	// Z-INDEX
	--layer-base: 0;
	--layer-one: 100;
	--layer-two: 200;
	--layer-three: 300;

	// SPACING
	--content-box-padding: 2rem 5rem;

	// OTHER
	--shadow-style-light: 0 1.5rem 4rem rgba(var(--base-primary), var(--alpha-low));
	--transition-ease-in-out: all .25s ease-in-out;
	--rounded-corners-tight: 2px;
}
