:root {
	// COLORS
	--base-primary: 0, 19, 128;
	--base-secondary: 226, 41, 8;
	--base-tertiary: 3, 221, 166;
	--base-black: 0, 0, 0;
	--base-white: 255, 255, 255;

	--color-primary: rgb(var(--base-primary));
	--color-secondary: rgb(var(--base-secondary));
	--color-tertiary: rgb(var(--base-tertiary));
	--color-black: rgb(var(--base-black));
	--color-white: rgb(var(--base-white));

	// OPACITY
	--alpha-low: 0.2;
	--alpha-medium: 0.5;
	--alpha-high: 0.7;

	// FONT
	--font-size-small: 1.2rem;
	--font-size-default: 1.6rem;
	--font-size-big: 2.4rem;
	--font-size-huge: 4rem;
	
	//Z-INDEX
	--layer-base: 0;
	--layer-one: 100;
	--layer-two: 200;
	--layer-three: 300;

	// OTHER
	--shadow-style-light: 0 1.5rem 4rem rgba(var(--base-primary), var(--alpha-low));
	--transition-ease-in-out: all .25s ease-in-out;
	--rounded-corners-tight: 2px;
}
