
:root {
	// COLORS
	--base-primary: 18, 2, 49;
	--base-secondary: 4, 211, 209;
	--base-tertiary: 239, 167, 111;

	--base-purple-light: 196, 196, 229;
	--base-purple: 122, 122, 184;
	--base-blue: 37, 37, 104;
	--base-blue-light: 165, 212, 238;
	--base-blue-gray: 61, 74, 116;

	--base-black: 18, 19, 20;
	--base-white: 255, 255, 255;
	--base-gray: 166, 163, 165;

	--color-primary: rgb(var(--base-primary));
	--color-secondary: rgb(var(--base-secondary));
	--color-tertiary: rgb(var(--base-tertiary));

	--color-blue-gray: rgb(var(--base-blue-gray));
	--color-blue-light: rgb(var(--base-blue-light));
	--color-blue: rgb(var(--base-blue));
	--color-purple-light: rgb(var(--base-purple-light));
	--color-purple: rgb(var(--base-purple));

	--color-black: rgb(var(--base-black));
	--color-white: rgb(var(--base-white));
	--color-gray: rgb(var(--base-gray));

	--main-gradient: linear-gradient(to right, #4D4BE9, #13E8BE);
	--btn-gradient--1: linear-gradient(to right, #120231 0%, #4D4BE9 50%, #13E8BE 100% );
	--btn-gradient--2: linear-gradient(to right, #ffffff00 0%, #ffffff00 50%, #120231 50%, #4D4BE9 100%);
	
	// OPACITY
	--alpha-low: 0.2;
	--alpha-medium: 0.5;
	--alpha-high: 0.85;

	// FONT
	--font-size-small: 1.4rem;
	--font-size-default: 1.7rem;
	--font-size-big: 2rem;
	--font-size-huge: 4rem;
	--font-size-gargantuan: 6rem;

	--font-content: 'Open Sans', sans-serif;
	--font-display: 'Poppins', sans-serif;
	--font-code: 'Fira Code', monospace;;
	
	// Z-INDEX
	--layer-negative: -1;
	--layer-base: 0;
	--layer-one: 100;
	--layer-two: 200;
	--layer-three: 300;

	// SPACING
	--content-box-padding: 2rem 5rem;
	--content-box-padding-big: 8rem 10rem;
	
	--gap-micro: 1rem;
	--gap-small: 2rem;
	--gap-big: 4rem;
	--gap-huge: 8rem;
	--gap-gigantic: 12rem;

	// LAYOUT SIZING
	--content-width: 1080px;
	--section-top-bottom-margins: 15vh 0;
	--header-height: 10rem;
	
	// OTHER
	--shadow-style-light: 0 1.5rem 4rem rgba(var(--base-primary), var(--alpha-low));
	--shadow-style-strong: 0 .5rem 1rem rgba(var(--base-black), var(--alpha-medium));
	--transition-ease-in-out: all .25s ease-in-out;
	--rounded-corners-tight: 2px;
	--rounded-corners-big: 10px;
	--rounded-corners-huge: 20px;
}

// MEDIA QUERIES
$desktop-small: 1440px;
$tablet: 1281px;
$mobile: 600px;

@media screen and (max-width: $desktop-small) {
	:root {
		--content-width: 720px;
		--section-top-bottom-margins: 10vh 0;
	}
}

@media screen and (max-width: $mobile) {
	:root {
		--content-width: 90vw;
		--section-top-bottom-margins: 5vh 0;
	}
}
