.footer {
    background-color: var(--color-black);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: var(--layer-two);
    @media only screen and (max-width: $tablet) {
        flex-flow: column nowrap;
        height: 8rem;
        justify-content: space-evenly;
        filter: grayscale(1);
    }
    > p {
        color: var(--color-gray);
        font-size: var(--font-size-small);
        width: var(--content-width);
        padding: var(--gap-small) var(--gap-big);
        text-align: right;
        @media only screen and (max-width: $tablet) { 
            color: var(--color-secondary);
            text-align: center;
            padding: unset;
        }
    }

}