.footer {
    background-color: var(--color-black);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: var(--layer-three);
    > p {
        color: var(--color-gray);
        font-size: var(--font-size-small);
        width: var(--content-width);
        padding: var(--gap-small) var(--gap-big);
        text-align: right;
        @media only screen and (max-width: $mobile) { 
            color: var(--color-secondary);
            text-align: center;
            padding: 0 var(--gap-small);
            transform: translateY(calc(0px - var(--gap-micro)));
        }
    }

}