.header {
	position: fixed;
	width: 100vw;
	top: 0;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: var(--layer-three);
}

.navigation {
	width: 80vw;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	font-weight: 600;
	& > * {
		margin: 0 .5rem;
	}
	&__logo {
		width: 4rem;
	}
	ul {
		display: flex;
		margin-left: auto;
		& li {
			margin: 0 .5rem;
			padding-right: 2rem;
		}
	}
	.active-section {
		color: var(--color-secondary);
	}
}
