.header {
	position: fixed;
	width: 100vw;
	top: 0;
	height: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: var(--layer-three);
	transition: .25s all linear;
	&--downpage {
		background-color: var(--color-primary);
	}
}

.navigation {
	width: 80vw;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	font-weight: 600;
	color: var(--color-tertiary);
	& > * {
		margin: 0 .5rem;
	}
	&__logo {
		transform: translateX(20vw);
		opacity: 0;
		transition: 1s all ease-in-out;
		display: flex;
		align-items: center;
		img {
			width: 4rem;
		}
		p {
			display: inline-block;
			color: var(--color-white);
			margin-left:1rem;
			position: relative;
			span {
				color: var(--color-tertiary);
			}
			&::after {
				content: "";
				background-color: var(--color-tertiary);
				height: 1em;
				width: .35em;
				position: absolute;
				right: -.5em;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		&--visible {
			transform: translateX(0);
			opacity: 1;
		}

	}
	ul {
		display: flex;
		margin-left: auto;
		& li {
			margin: 0 .5rem;
			padding-right: 2rem;
			white-space: nowrap;
			user-select: none;
			a {
				display: inline-block;
				&:hover {
					transform: translateY(-1px);
					opacity: .9;
				}
				&:active {
					transform: translateY(1px);
				}
			}
		}
	}
	.active-section {
		color: var(--color-yellow);
		position: relative;
		&::before {
			content: "[";
			position: absolute;
			left: -1rem;
		}
		&::after {
			content: "]";
			position: absolute;
			right: -1rem;
		}
	}
}
