.header {
	position: fixed;
	width: 100vw;
	top: 0;
	height: var(--header-height);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: var(--layer-three);
	transition: .25s all linear;
	&--downpage {
		background-color: var(--color-primary);
		box-shadow: var(--shadow-style-strong);
	}
}

.navigation {
	width: 90vw;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	font-weight: 600;
	color: var(--color-tertiary);

	@media only screen and (max-width: $tablet) {
		display: none;
	}
	& > * {
		margin: 0 .5rem;
	}
	&__logo {
		transform: translateX(20vw);
		opacity: 0;
		transition: 1s all ease-in-out;
		display: flex;
		align-items: center;
		img {
			width: 4rem;
		}
		p {
			display: inline-block;
			color: var(--color-white);
			margin-left:1rem;
			position: relative;
			white-space: nowrap;
			span {
				color: var(--color-secondary);
			}
			&::after {
				content: "";
				background-color: var(--color-secondary);
				height: .1em;
				width: .6em;
				position: absolute;
				right: -.7em;
				bottom: .1em;
				transform: translateY(-50%);
			}
		}
		&--visible {
			transform: translateX(0);
			opacity: 1;
		}

	}
	ul {
		display: flex;
		margin-left: auto;
		& li {
			white-space: nowrap;
			user-select: none;
			a {
				display: inline-block;
				color: var(--color-secondary);
				font-size: var(--font-size-default);
				text-transform: uppercase;
				&:hover {
					transform: translateY(-1px);
					opacity: .9;
				}
				&:active {
					transform: translateY(1px);
				}
			}
		}
		& li:not(:last-of-type) {
			margin-right: 3vw;
		}
	}
	.active-section {
		position: relative;
		color: var(--color-tertiary);
	}
}

.navigation-mobile {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	&__logo {
		position: absolute;
		top: 2rem;
		left: 2rem;
		display: flex;
		align-items: center;
		transform: translateX(20vw);
		opacity: 0;
		transition: 1s all ease-in-out;
		img {
			width: 4rem;
		}
		p {
			margin-left: 1rem;
			display: inline-block;
			color: var(--color-white);
			position: relative;
			span {
				color: var(--color-secondary);
			}
			&::after {
				content: "";
				background-color: var(--color-secondary);
				height: .1em;
				width: .6em;
				position: absolute;
				right: -.7em;
				bottom: .1em;
				transform: translateY(-50%);
			}
		}
		&--visible {
			transform: translateX(0);
			opacity: 1;
		}
	}
	&__button {
		width: 4rem;
		height: 3rem;
		position: absolute;
		top: 2rem;
		right: 2rem;
		background: linear-gradient(var(--color-secondary), var(--color-secondary)) no-repeat;
		background-size: 100% 3px;
		background-position: center center;
		transition: all .25s ease-in-out;
		z-index: var(--layer-four);
		&::before, &::after {
			content: "";
			width: 100%;
			height: 3px;
			background-color: var(--color-secondary);
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			transition: all .25s ease-in-out;
		}
		&::before {
			top: 0;
		}
		&::after{
			bottom: 0;
			transform: translateX(-50%);
		}
		&--open {
			top: 1.1rem;
			right: 1.1rem;
			transform: rotate(135deg);
			width: calc(4rem * 1.35);
			height: calc(4rem * 1.35);
			&::before, &::after {
				top: 50%;
				transform: translateX(-50%) translateY(-50%) rotate(0);
			}
			&::after{
				bottom: 50%;
				transform: translateX(-50%) translateY(-50%) rotate(-90deg);
			}
		}
	}
	ul {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-image: radial-gradient(circle, rgba(var(--base-primary), .99) 0%, rgba(var(--base-primary), .95) 20%, rgba(var(--base-primary), var(--alpha-high)) 100%);;
		z-index: var(--layer-three);
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		transition: all .25s ease-in-out;
		& li {
			user-select: none;
			margin-top: var(--gap-big);
			a {
				display: inline-block;
				color: var(--color-secondary);
				font-size: var(--font-size-big);
				text-transform: uppercase;
			}
		}
	}
	transform: translateX(0);
	opacity: 1;
	pointer-events: all;
	transition: all .5s ease-in-out;
	&--closed {
		transform: translateX(100%);
		opacity: 0;
		pointer-events: none;
	}
	@media only screen and (max-width: $tablet) {
		display: block;
	}
}