.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    height: 80vh;
}

.work {
    height: 150vh;
}

.contact {
    height: 100vh;
}