.section {
	width: 100vw;
	display: flex;
	justify-content: center;
	z-index: var(--layer-base);
	&__hero::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url(../images/hero.jpg);
		background-size: cover;
	}
	&__hero::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(var(--base-primary), var(--alpha-high));
	}
}
.hero-content {
	height: 100vh;
	width: 80vw;
	z-index: var(--layer-one);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h1 {
		position: relative;
		&:before {
			content: "Hi, I'm";
			position: absolute;
			top: -50%;
			left: 0;
			font-size: var(--font-size-default);
		}
	}
	&__blurb {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		width: 40rem;
		& .btn {
			text-align: center;
			width: 15rem;
			&:not(:last-of-type){
				margin-right: 5%
			}
		}
	}
}

.about-content {
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: repeat(8, 20vh);
	gap: 2rem;
	&__title {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
		text-align: center;
	}
	&__image {
		grid-column: 1 / 2;
		grid-row: 2 / 4;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: var(--rounded-corners-tight);
		}
	}
	& .fade-in-text-lines {
		grid-column: 1 / 2;
		grid-row: 2 / 4;
		z-index: var(--layer-one);
		align-self: center;
		justify-self: center;
		& p {
			padding: 1rem;
			color: white;
			background-color: rgba(0,0,0,.2);

		}
	}
	&__blurb {
		grid-column: 2 / 3;
		grid-row: 2 / 4;
		
	}

	&__terminal {
		grid-column: 2 / 3;
		grid-row: 4 / 8;
		height: fit-content;
	}
}

.work-content {
	height: 150vh;
}

.contact-content {
	height: 100vh;
}
