.hero {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&__content {
		max-width: 50rem;
	}
	&__image {
		width: 500px;
		height: 500px;
		overflow: hidden;
		object-fit: cover;
		& img {
			width: 1000px;
			margin-left: -275px;
		}
	}
}

.about {
	height: 80vh;
}

.work {
	height: 150vh;
}

.contact {
	height: 100vh;
}
