.btn,
a.btn {
	color: var(--color-secondary);
	transition: var(--transition-ease-in-out);
	width: 17rem;
	height: 6rem;
	user-select: none;
	font-weight: 600;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	&:hover {
		background-color: var(--color-blue);
	}
	&__icon {
		width: 1.5em;
		margin-right: 1em;
	}
	&__resume {
		border: 1px solid;
		border-image-slice: 1;
		border-image-source: var(--main-gradient);
		color: var(--color-white);
		&:hover {
			border-image-source: linear-gradient(to right, #4D4BE9, 4D4BE9);
		}
	}
	&__projects {
		background: var(--main-gradient);
		color: var(--color-white);
	}
	&__CTA {
	}
}
