.btn,
a.btn {
	padding: 1rem 2rem;
	color: var(--color-primary);
	border: 1px var(--color-primary) solid;
	border-radius: var(--rounded-corners-tight);
	transition: var(--transition-ease-in-out);
	width: max-content;
	height: min-content;
	user-select: none;
	font-weight: 600;
	&:hover {
		background-color: var(--color-primary-dark);
		color: var(--color-white);
		font-weight: 600;
	}
	&__resume {
	}
	&__contact {
		
	}
}
