.scroll-indicator {
	position: relative;
	z-index: var(--layer-three);
	width: 3.5rem;
	margin-top: auto;
	margin-bottom: var(--gap-small);
	fill: var(--color-primary);
	animation: bounce 2s ease-in-out infinite;
	animation-delay: 3s;
}


@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(5px);
	}
	100% {
		transform: translateY(0);
	}
}