.scroll-indicator {
	position: absolute;
	z-index: var(--layer-three);
	bottom: 6.5vh;
	left: 50%;
	width: 3.5rem;
	fill: var(--color-primary);
	animation: bounce 2s ease-in-out infinite;
	animation-delay: 3s;
	img {
		transform: translateX(-50%);
	}
}


@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(5px);
	}
	100% {
		transform: translateY(0);
	}
}