.scroll-indicator {
	position: absolute;
	bottom: 10vh;
	width: 2rem;
	fill: var(--color-primary);
	animation: bounce 2s ease-in-out infinite;
}


@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-3px);
	}
	100% {
		transform: translateY(0);
	}
}