.terminal-box {
    color: var(--color-purple-light);
    padding: 4px;
    &__command {
        font-family: var(--font-code);
        // Needed for blinking cursor effect
        position: relative;
        display: inline-block;
    }
    &__hostname {
        color: var(--color-yellow);
    }
    &__directory {
        color: var(--color-white);
    }
    & ul{
        margin: 0px 0px 0px 3rem; 
        list-style: none;
        li{
            font-family: var(--font-code);
            font-size: 16px;
            position: relative;
            &:before{
                position: absolute;
                left: -15px;
                top: -4px;
                content: '';
                display: block;
                border-left: 1px solid #ddd;
                height: 2rem;
                border-bottom: 1px solid #ddd;
                width: 10px;
            }
            &:after{
                position: absolute;
                left: -15px;
                bottom: -7px;
                content: '';
                display: block;
                border-left: 1px solid #ddd;
                height: 100%;
            }
          &.terminal-box__tree-root{
              margin: 0px 0px 0px -20px;
              &:before{
                display: none;
              }
              &:after{
                display: none;
              }
           }
           &:last-child{
              &:after{ display: none }
            }
        }
    }
}