// Styles for fade in effects
.rotating-text-lines{
    p {
    line-height: 2.8rem;
    transition: .5s opacity linear, .75s transform ease-out;
    animation: rotating-text-lines;
    }
    p:nth-of-type(1) {
        
    }
}

.fade-in-element {
    opacity: 0;
    transform: translateY(10px);
    transition: .5s opacity linear, .75s transform ease-out;
}

.fade-in-element-visible {
    opacity: 1;
    transform: translateY(0px);
}

.fade-out-element-invisible {
    display: none;
}

// Fade out effect
@keyframes fade-up-and-out{
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-20px);
        opacity: 0;
    }
}

// Blinking cursor effect
.blinking-linux-cursor {
    &:after {
        content: "";
        position: absolute;
        top: .2rem;
        right: -.2em;
        display: inline-block;
        background-color: var(--color-secondary);
        vertical-align: top;
        width: clamp(.5rem, .5em, 2rem);
        height: clamp(2.2rem, 1em, 4.6rem);
        animation: blink 1s step-end infinite;
    }
}
.blinking-windows-cursor {
    &:after {
        content: "";
        position: absolute;
        bottom: .3rem;
        right: -.7em;
        display: inline-block;
        background-color: var(--color-secondary);
        vertical-align: top;
        width: .6em;
        height: .1em;
        animation: blink 1s step-end infinite;
    }
}
@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes rotating-text-lines {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    10% {
        opacity: 1;
        transform: translateX(0%);
    }
    30% {
        opacity: 1;
        transform: translateX(0%)
    }
    40% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }

}