// Styles for fade in effects
.fade-in-text-lines p {
    opacity: 0;
    transform: translateY(10px);
    transition: .5s opacity linear, .75s transform ease-out;
}

p.fade-in-text-lines-visible {
    opacity: 1;
    transform: translateY(0px);
}

.fade-in-element {
    opacity: 0;
    transform: translateY(10px);
    transition: .5s opacity linear, .75s transform ease-out;
}

.fade-in-element-visible {
    opacity: 1;
    transform: translateY(0px);
}

// Blinking cursor effect
.blinking-cursor {
    &:after {
        content: "";
        position: absolute;
        top: clamp(2px, .1em, 5px);
        right: -.4em;
        display: inline-block;
        background-color: var(--color-white);
        vertical-align: top;
        width: 10px;
        height: clamp(2.2rem, 1em, 3.6rem);
        animation: blink 1s step-end infinite;
    }
}
@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
