body {
    color: var(--color-black);
	font-size: var(--font-size-default);
	font-family: var(--font-content);
	line-height: 1.5;
	color: var(--color-purple);
}
p, li {
	font-weight: 600;
	line-height: 1.7;
}
h1 {
	font-family: var(--font-display);
	line-height: 1.1;
}
h2 {
	font-family: var(--font-code);
	line-height: 1.3;
}
h3,
h4,
h5,
h6 {
	color: var(--color-primary);
	line-height: 1.5;
	font-family: var(--font-display);
	font-weight: 600;
	font-size: var(--font-size-big);
}

.header-huge {
	font-size: var(--font-size-gargantuan);
	line-height: 1.1;
	font-weight: 600;
}

.header-big {
    font-size: var(--font-size-huge);
	line-height: 1.3;
}

.coding-font {
	font-family: var(--font-code);
}

em, .emphasis {
	font-style: unset;
	font-weight: 600;
	color: var(--color-purple-light);
}