body {
    color: var(--color-black);
	font-size: var(--font-size-default);
	font-family: 'Montserrat', sans-serif;
	line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-primary);
	font-size: var(--font-size-big);
	font-family: 'Fira Code', monospace;
	line-height: 1.5;
}

.header-big {
    font-size: var(--font-size-big);
    font-family: 'Fira Code', monospace;
	line-height: 1.5;
}

.header-medium {
    font-size: var(--font-size-default);
    font-family: 'Fira Code', monospace;
	line-height: 1.5;
}
