.hidden {
    visibility: hidden;
}
.spacer-line {
    &:after{
        content: "";
        background-color: var(--color-secondary);
        width: 12rem;
        height: 2px;
        position: absolute;
        bottom: -2rem;
        left: 50%;
        transform: translateX(-50%);
    }
}
.big-spacer {
    margin-bottom: 4rem;
}

.small-spacer {
    margin-bottom: 1rem;
}