.hidden {
    visibility: hidden;
}
.spacer-line {
    position: relative;
    &::after {
        content: "";
        background-image: var(--main-gradient);
        width: 12rem;
        height: 2px;
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translateX(-50%);
    }
}
.line-right {
    position: relative;
    &::after {
        content: "";
        background-color: var(--color-secondary);
        width: 7.5rem;
        height: 2px;
        position: absolute;
        bottom: 50%;
        right: -8rem;
        transform: translateX(1rem);
    }
}
.big-spacer {
    margin-bottom: 4rem;
}

.small-spacer {
    margin-bottom: 2rem;
}
.padding-bottom-large {
    padding-bottom: 4rem;
}
.padding-bottom-small {
    padding-bottom: 2rem;
}

.header-bullet {
    position: relative;
    &::before {
        content: url(../images/bullet.svg);
        width: 1.4rem;
        height: 1.4rem;
        position: absolute;
        top: -.5rem;
        left: -1.8rem;
    }
}