.section {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	z-index: var(--layer-base);
	overflow: hidden;
	position: relative;
	&__hero {
		height: 100vh;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: url(../images/hero.png);
			background-attachment: fixed;
			background-size: cover;
			background-position: center;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(180deg, rgba(var(--base-primary), var(--alpha-high)) 0%, rgba(var(--base-primary), var(--alpha-high)) 70%, rgba(var(--base-primary), 1) 100%);
		}
	}
	&__about {
		background-color: var(--color-primary);
	}
	&__work {
		background-color: var(--color-primary);
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
	}
	&__contact {
		background-color: var(--color-primary);
	}
}
.hero-content {
	height: calc(100vh - var(--header-height));
	margin-top: var(--header-height);
	width: var(--content-width);
	z-index: var(--layer-one);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--gap-small);
	@media only screen and (max-width: $mobile) {
		justify-content: unset;
	}
	&__logo {
		width: 15rem;
		user-select: none;
		margin-top: auto;
		@media only screen and (max-width: $tablet) {
			height: clamp(5vw, 12vh, 15vw);
		}
	}
	h1 {
		position: relative;
		margin-top: var(--gap-huge);
		margin-bottom: 2rem;
		color: var(--color-white);
		white-space: nowrap;
		@media only screen and (max-width: $tablet) {
			font-size: var(--font-size-huge);
			margin-top: var(--gap-big);
		}
		@media only screen and (max-width: $mobile) {
			font-size: clamp(var(--font-size-big), 10vh, 8vw);
			margin-top: var(--gap-big);
			margin-bottom: 0;
		}
		.blinking-windows-cursor {
			color: var(--color-secondary);
			font-family: var(--font-code);
			font-weight: 300;
		}
		&:before {
			content: "Hello, I'm";
			position: absolute;
			width: max-content;
			top: calc(0px - 1rem - var(--gap-big));
			left: 50%;
			transform: translateX(-50%);
			font-size: var(--font-size-big);
			font-family: var(--font-code);
			@media only screen and (max-width: $tablet) {
				font-size: clamp(var(--font-size-small), 2vh, var(--font-size-default));
				top: calc(0px - 1rem - var(--gap-small));
			}
		}
	}
	&__blurb {
		width: 80rem;
		max-width: 85vw;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		text-align: center;
		@media screen and (max-width: $mobile) {
			width: 90vw;
		}
		p {
			font-size: var(--font-size-big);
			font-family: var(--font-code);
			line-height: 2;
			@media only screen and (max-width: $tablet) {
				font-size: var(--font-size-default);
				line-height: 1.6;
			}
		}
		& .btn {
			text-align: center;
			margin-top: var(--gap-big);
			@media screen and (max-width: $desktop-small) {
				margin-top: var(--gap-small);
			
			}
			&:not(:last-of-type){
				margin-right: 10%;
				@media only screen and (max-width: $mobile) {
					margin-right: unset;
				}
			}
		}
	}
}

.about-content {
	width: var(--content-width);
	margin:var(--section-top-bottom-margins);
	display: grid;
	grid-template-columns: repeat(3, calc((100% - var(--gap-huge) * 2) / 3));
	grid-template-rows: auto repeat(3, 1fr);
	gap: var(--gap-huge);
	@media screen and (max-width: $desktop-small) {
		grid-template-columns: repeat(2, calc((100% - var(--gap-big)) / 2));
		gap: var(--gap-big);
		max-width: 80%;
	}
	@media screen and (max-width: $mobile) {
		grid-template-columns: 1fr;
		grid-template-rows: auto repeat(3, 1fr) auto;
		gap: var(--gap-huge);
		max-width: 45rem;
	}
	&__title {
		color: var(--color-white);
		grid-row: 1 / 2;
		grid-column: 1 / -1;
		justify-self: center;
	}
	&__blurb {
		display: flex; 
		flex-flow: column nowrap;
		gap: var(--gap-small);
		align-self: center; 
		justify-self: center;
		h3 {
			color: var(--color-white);
			position: relative;
			margin-left: 7.5rem;
			text-transform: uppercase;
			letter-spacing: 4px;
			font-weight: 600;
			&::before {
				position: absolute;
				width: 5.5rem;
				top: -1.5rem;
				left: -7.5rem;
				@media screen and (max-width: $mobile) {
					width: 4rem;
					top: -.4em;
					left: -7rem;
				
				}
			}
		}
		p {
			color: var(--color-purple);
			@media screen and (max-width: $mobile) {
				text-align: justify;
			}
		}
		&--1 {
			grid-row: 2 / 3;
			grid-column: 1 / 2;
			h3::before {
				content: url(../images/whyme.svg);
			}
		}
		&--2 {
			grid-row: 3 / 4;
			grid-column: 1 / 2;
			h3::before {
				content: url(../images/careerpath.svg);
			}
		}
		&--3 {
			grid-row: 4 / 5;
			grid-column: 1 / 2;
			h3::before {
				content: url(../images/currently.svg);
			}
		}
	}
	&__terminal {
		grid-row: 2 / 5;
		grid-column: 2 / 3;
		height: fit-content;
		@media only screen and (max-width: $mobile) {
			grid-row: 5 / 6;
			grid-column: 1 / 2;
		}
		h3 {
			position: relative;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: var(--color-white);
			margin-left: 7.5rem;
			letter-spacing: 4px;
			font-weight: 600;
			&::before {
				content: url(../images/skills.svg);
				width: 5rem;
				position: absolute;
				top: -1.5rem;
				left: -7.5rem;
				width: 5rem;
				top: -1.5rem;
				left: -7rem;
				@media screen and (max-width: $mobile) {
					width: 4rem;
					top: -.4em;
					left: -7rem;
				
				}
			}
		}
	}
	&__image-quote-container {
		grid-row: 2 / 5;
		grid-column: 3 / 4;
		position: relative;
		margin-top: 60px;
		@media only screen and (max-width: $desktop-small) {
			display: none;
		}
	}
	&__image-quote-image {
		margin-top: 42px;
		width: 110%;
		height: 351px;
		background-image:  url(../images/andrew_pier.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		&::after {
			content: "";
			background: var(--main-gradient);
			opacity: .3;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
	&__image-quote-text {
		width: 110%;
		height: 287px;
		position: relative;
		background-color: var(--color-blue);
		display: flex;
		justify-content: center;
		align-items: center;
		& p {
			padding: 2rem;
			width: 80%;
			color: var(--color-tertiary);
			text-align: center;
			position: absolute;
		}
	}
	&__image-quote-frame {
		background-image: url(../images/frame.svg);
		background-repeat: no-repeat;
		background-size: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: var(--layer-three);
		pointer-events: none;
	}
}
.work-content {
	width: var(--content-width);
	margin: var(--section-top-bottom-margins);
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: var(--gap-huge);
	@media screen and (max-width: $desktop-small) {
		max-width: 80%;
	}
	@media screen and (max-width: $mobile) {
		max-width: 45rem;
	}
	&__title {
		color: var(--color-white);
	}
	&__project-type {
		color: var(--color-tertiary);
		text-transform: uppercase;
		letter-spacing: 2px;
		white-space: nowrap;
	}
	&__project-title {
		color: var(--color-white);
		font-size: var(--font-size-huge);
		line-height: 1.2;
	}
	&__project-links {
		display: flex;
		align-items: center;
	}
	&__project-model {
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__project-techstack {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
		grid-auto-rows: var(--gap-big);
		color: var(--color-blue-light);
		font-family: var(--font-code);
		font-size: var(--font-size-small);
	}
	&__project-description {
		height: 20rem;
		&::-webkit-scrollbar-thumb {
			background-color: var(--color-tertiary);
		}
		&::-webkit-scrollbar {
			width: 2px;
		}
		&::-webkit-scrollbar-track {
			background-color: var(--color-white);
			border-radius: 50px;
		}
	}
	$self: &;
	&__project-card {
		display: grid;
		gap: var(--gap-small);
		margin-bottom: var(--gap-huge);
		&--1 {
			grid-template-columns: 33% auto;
			grid-template-rows: 3rem repeat(3, max-content);
			#{ $self }__project-type {
				grid-row: 1 / 2;
				grid-column: 1 / 2;
			}
			#{ $self }__project-title {
				grid-row: 2 / 3;
				grid-column: 1 / 2;
			}
			#{ $self }__project-links {
				grid-row: 4 / 5;
				grid-column: 1 / 2;
				flex-direction: column;
				align-self: center;
				justify-content: center;
				a:last-of-type {
					margin-top: var(--gap-big);
				}
			}
			#{ $self }__project-model {
				grid-row: 1 / 3;
				grid-column: 2 / 3;
			}
			#{ $self }__project-techstack {
				grid-row: 3 / 4;
				grid-column: 2 / 3;
			}
			#{ $self }__project-description {
				grid-row: 4 / 5;
				grid-column: 2 / 3;
			}
		}
		&--2 {
			grid-template-columns: 50% 50%;
			grid-template-rows: 3rem 6rem 8rem 20rem 10rem;
			#{ $self }__project-type {
				grid-row: 1 / 2;
				grid-column: 2 / 3;
			}
			#{ $self }__project-title {
				grid-row: 2 / 3;
				grid-column: 2 / 3;
			}
			#{ $self }__project-links {
				grid-row: 5 / 6;
				grid-column: 2 / 3;
				padding-left: var(--gap-big);
				a:last-of-type {
					margin-left: var(--gap-big);
				}
			}
			#{ $self }__project-model {
				grid-row: 1 / -1;
				grid-column: 1 / 2;
			}
			#{ $self }__project-techstack {
				grid-row: 3 / 4;
				grid-column: 2 / 3;
			}
			#{ $self }__project-description {
				grid-row: 4 / 5;
				grid-column: 2 / 3;
			}
		}
		&--3 {
			grid-template-columns: 50% 50%;
			grid-template-rows: 3rem 6rem 8rem 20rem 10rem;
			#{ $self }__project-type {
				grid-row: 1 / 2;
				grid-column: 1 / 2;
			}
			#{ $self }__project-title {
				grid-row: 2 / 3;
				grid-column: 1 / 2;
			}
			#{ $self }__project-links {
				grid-row: 5 / 6;
				grid-column: 1 / 2;
				padding-left: var(--gap-big);
				a:last-of-type {
					margin-left: var(--gap-big);
				}
			}
			#{ $self }__project-model {
				grid-row: 1 / -1;
				grid-column: 2 / 3;
			}
			#{ $self }__project-techstack {
				grid-row: 3 / 4;
				grid-column: 1 / 2;
			}
			#{ $self }__project-description {
				grid-row: 4 / 5;
				grid-column: 1 / 2;
			}
		}
	}
	&__other-products {
		display: none;
	}
	&__past-clients {
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
		align-items: center;
		h3 {
			align-self: flex-start;
		}
	}
	&__testimonial {
		margin: var(--gap-huge);
		padding: var(--gap-small);
		position: relative;
		background-color: var(--color-blue);
		height: 15rem;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		&::before {
			content: url(../images/quote-start.svg);
			position: absolute;
			top: -22px;
			left: -2px;
			width: 6rem;
		}
	}
	&__testimonial-left, &__testimonial-right {
		flex-basis: 50%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		font-size: var(--font-size-small);
	}
	&__testimonial-left {
		color: var(--color-white);
		text-align: center;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		height: 100%;
		p:first-of-type {
			font-size: var(--font-size-default);
		}
	}
	&__testimonial-right {
		color: var(--color-blue-light);
		font-family: var(--font-code);
	}

	&__testimonial-quote {
		text-transform: uppercase;
		line-height: 1.3;
	}
	&__testimonial-client {
	}
	&__testimonial-brief {
		height: 10rem;
		padding: 0 2rem;
		padding-left: var(--gap-big);
		&::-webkit-scrollbar-thumb {
			background-color: var(--color-tertiary);
		}
		&::-webkit-scrollbar {
			width: 2px;
		}
		&::-webkit-scrollbar-track {
			background-color: var(--color-white);
			border-radius: 50px;
		}
	}
	&__cycle-testimonials {
		width: 12rem;
		display: flex;
		justify-content: space-between;
		img {
			width: 4rem;
		}
	}
}
.contact-content {
	width: var(--content-width);
	margin-top: var(--section-top-bottom-margins);
	display: grid;
	grid-template-columns: 33% calc(67% - var(--gap-huge));
	gap: var(--gap-huge);
	position: relative;
	@media screen and (max-width: $desktop-small) {
		max-width: 80%;
	}
	@media screen and (max-width: $mobile) {
		max-width: 45rem;
	}
	&__title {
		color: var(--color-white);
		grid-row: 1 / 2;
		grid-column: 1 / -1;
		text-align: center;
	}
	&__contact-left {
		grid-row: 2 / 3;
		grid-column: 1 / 2;
	}
	&__contact-type {
		color: var(--color-white);
		font-size: var(--font-size-huge);
		text-align: right;
		line-height: 1.2;
	}
	&__andrew-message {
		width: 66%;
		margin-left: auto;
		margin-top: var(--gap-small);
		text-align: right;
		font-size: var(--font-size-small);
		color: var(--color-blue-light);
	}
	&::after {
		content: "";
		background: url(../images/andrew_beach.png) no-repeat;
		background-position: bottom left;
		background-size: 375px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: var(--layer-negative);
	}
}
